@model List<Department>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--List<Department>-->
@*<table style="border:2px solid red">*@
<table class="table table-bordered table-hover">
    <tr>
        <th>Department</th>
        <th>Manager Name</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.ManagerName</td>
        </tr>
    }
</table>